.Home {
    height: 570px;
    background: url('../img/IMG_0218\ 1.png') center (center / cover);
    display: flex;
    align-items: center;

        h1 {
            color: rgb(255, 255, 255);
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 32px;
            text-align: center;
        }

        p {
            color: rgb(255, 255, 255);
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
        }

}

.Shop {
    margin-top: 70px;

    &__info {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 7px;

        &-icon {
            width: 30px;
            height: 30px;
        }

        &-logo {
            width: 55px;
            height: 31px;
        }

        &-wallet {
            width: 35px;
            height: 27px;
        }

    }

    &__list {

        &-text {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 12px;
        }

        &-subject {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 11px;
            color: rgb(90, 90, 90);
        }

    }





    &__headline {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        text-align: center;
        margin-top: 70px;
    }

    &__page {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__items {
        margin-top: 35px;

        img {
            width: 235px;
            border-radius: 10px;
        }

        &-title {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 15px;
            margin-top: 3px;
            margin-left: 5px;
        }

        &-subtitle {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: rgb(90, 90, 90);
            margin-left: 5px;
        }

        &-price {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 14px;
            margin-left: 5px;
            margin-top: 5px;
        }

        &-btn {
            width: 100%;
            height: 27px;
            border: none;
            background-color: rgb(18, 255, 1);
            font-family: "Inter", sans-serif;
            font-weight: 700;
            border-radius: 7px;
            color: black;
            margin-top: 7px;

            &:hover {
                background-color: rgb(13, 176, 1);
            }
        }

    }

    &__nav {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 10px;

        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgb(128, 128, 128);
        cursor: pointer;
    }

}

.AboutUs {
    margin-top: 4%;
    display: flex;
    align-items: center;

    &__info {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        border-radius: 20px;
        padding: 10px;
        gap: 5px;

        &-title {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 19px;
        }

        &-subtitle {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 15px;
        }

        &-item {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 15px;
            margin-top: 5px;
        }

    }

}

.Reviews {
    margin-top: 70px;

&__otzw {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

&__headline {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

&__items {
    display: flex;
    justify-content: center;
    gap: 15px;
}

&__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 40px;
    }

    p {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 13px;
    }

}

&__info {
    background-color: rgb(226, 226, 226);
    width: 70%;
    border-radius: 10px;
    padding: 7px;

    p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 13px;
    }

}

}




@media(max-width:3000px){
 
    .Home h1 {
        font-size: 40px;
    }

    .Home p {
        font-size: 28px;
    }

}

@media(max-width:1080px){

    .Shop__items img {
        width: 210px;
    }
}

@media(max-width:970px){

    .Home {
        height: 450px;
    }

}

@media(max-width:745px){

    .Shop__info {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .Shop__content-icon {
        width: 33px;
        height: 33px;
    }

    .Shop__content-logo {
        width: 43px;
        height: 28px;
    }

    .Shop__page {
        flex-wrap: wrap;
        justify-content: center;
        gap: 7%;
    }
    
}

@media (max-width: 520px) {
    .Shop__items img {
        width: 170px;
    }

    .Shop__page {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5%;
    }
}

@media (max-width: 480px) {
    .Home {
        height: 380px;
    }
}

@media(max-width:400px){
    .Home h1 {
        font-size: 35px;
    }

    .Home p {
        font-size: 25px;
    }

    .Shop__items img {
        width: 160px;
    }
}

@media(max-width:375px){

    .Shop__items img {
        width: 250px;
    }

    .Shop__nav {
        font-size: 13px;
    }
}
