.Shop {
    margin-top: 50px;

    &__info {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 7px;

        &-icon {
            width: 30px;
            height: 30px;
        }

        &-logo {
            width: 55px;
            height: 31px;
        }

        &-wallet {
            width: 35px;
            height: 27px;
        }

    }

    &__list {

        &-text {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 12px;
        }

        &-subject {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 11px;
            color: rgb(90, 90, 90);
        }

    }





    &__headline {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    &__page {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &__items {
        margin-top: 10px;

        img {
            width: 200px;
            border: 1px solid;
            border-color: rgb(160, 160, 160);
        }

        &-title {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 15px;
            margin-top: 10px;
        }

        &-subtitle {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: rgb(90, 90, 90);
        }

        &-line {
            width: 100%;
            height: 1px;
            background-color: rgb(160, 160, 160);
            margin-top: 5px;
        }

        &-btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }

        &-price {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 12px;
        }

        &-btn {
            width: 60%;
            height: 30px;
            border: none;
            background-color: rgb(18, 255, 1);
            font-family: "Inter", sans-serif;
            font-weight: 700;
            border-radius: 7px;
        }

    }

}

@media(max-width:5000px){

    .Shop__content-icon {
        width: 35px;
        height: 35px;
    }

    .Shop__content-logo {
        width: 60px;
        height: 35px;
    }

    .Shop__content-wallet {
        width: 40px;
        height: 32px;
    }


}

@media(max-width:900px){

    .Shop__content-icon {
        width: 30px;
        height: 30px;
    }

    .Shop__content-logo {
        width: 55px;
        height: 31px;
    }

    .Shop__content-wallet {
        width: 35px;
        height: 27px;
    }


}

@media(max-width:725px){

    .Shop__info {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .Shop__content-icon {
        width: 33px;
        height: 33px;
    }

    .Shop__content-logo {
        width: 43px;
        height: 33px;
    }
    
}

@media(max-width:470px){

    .Shop__items img {
        width: 170px;
    }

    .Shop__items-title {
        font-size: 14px;
    }

}

@media(max-width:470px){

    .Shop__items img {
        width: 150px;
    }

    .Shop__items-title {
        font-size: 13px;
    }

    .Shop__items-subtitle {
        font-size: 11px;
    }

    .Shop__items-btn {
        height: 25px;
    }

}

@media(max-width:370px){

    .Shop__items img {
        width: 200px;
    }

    .Shop__items-title {
        font-size: 15px;
    }

    .Shop__items-subtitle {
        font-size: 12px;
    }

    .Shop__items-btn {
        height: 30px;
    }

}