* {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marmelad&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Supermercado+One&display=swap');
@import './components/Header/Header.scss';
@import './components/Main/Main.scss';
@import './components/Main/Buy/Buy.scss';
@import './components/Footer/Footer.scss';

